{% extends "layout.html" %}
{% block app_content %}
<div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
    <h1 class="h4">Recipes</h1>
    <div class="d-grid  btn-group" style="padding-bottom:1em;">

    </div>
    <div class="col-md">
        <div class="card-body">
            <form method="GET" action="{{url_for('search_recipes')}}">
                <div class="form-group">
                    {{ form.searchstring.label(class="form-control-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><span class="fas fa-search"></span></span>
                        {{ form.searchstring(class="form-control form-control-lg") }}
                    </div>
                </div>
                {{ form.submit(class="btn btn-outline-info") }} <a href="{{ url_for('create_recipe') }}" class="btn btn-outline-success" role="button">Create New Recipe</a>
            </form>

            {% if recipes %}
                {% for recipe in recipes %}
                    <span class="author-right ">created by {{ recipe.creator }}</span>
                    <div class="card" style="display: inline.flex;">
                        <form method="POST" style="padding-right:1em;">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                                <ul class="list-group list-group-flush">
                                    {% for ingredient in recipe.ingredients %}
                                    <li class="list-group-item">
                                                <div class="input-group-text" style="white-space: pre-wrap;">
                                                    <span class="fas fa-shopping-basket icon-label"> {{ ingredient.name }}</span>
                                                </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </form>
                        <div class="d-grid" style="display:flex;">
                            <form method="GET" style="padding-right:1em;">
                                <button class="btn btn-outline-success" formaction="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
                                    Edit
                                </button>
                            </form>
                            <form method="POST" style="padding-right:1em;">
                                <button class="btn btn-outline-warning" formaction="{{ url_for('create_task', recipe_id=recipe.id) }}">
                                    Generate Task
                                </button>
                            </form>
                            <form method="POST">
                                <button class="btn btn-outline-danger" formaction="{{ url_for('remove_recipe', recipe_id=recipe.id) }}">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock app_content %}