{% extends "layout.html" %}
{% block app_content %}
    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
        <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h4">Register</h1>
        </div>
        <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
            <!-- Form -->
            <div class="form-group mb-4">
                {{ form.username.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                        {% endif %}
                </div>
            </div>
            <!-- End of Form -->
            <div class="form-group mb-4">
            <!-- Form -->
                {{ form.email.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg", placeholder="example@mail.com") }}
                        {% endif %}
                </div>
            </div>
            <!-- End of Form -->
            <div class="form-group">
                <!-- Form -->
                <div class="form-group mb-4">
                    {{ form.password.label(class="form-control-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                        {% endif %}
                    </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group mb-4">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                        {% endif %}
                    </div>
                </div>
                <!-- End of Form -->
            </div>
            <div class="btn-group">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <span class="text-muted">
                Already have an account?
                Sign in <a href="{{ url_for('signin') }}">here</a>!
            </span>
        </div>
    </div>
{% endblock app_content %}