{% extends "layout.html" %}
{% block app_content %}
<div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
    <form method="POST" action="{{ url_for('account') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">Account data</legend>
            <div class="form-group mb-4">
                {{ form.username.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock app_content %}
