{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='custom_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block title %}Meerkat{% endblock %}
{% block content %}
<div>
    <form method="POST" action="signin">
        <label for="email">e-mail</label>
        <input id="email" name="email" type="email">
        <label for="password">password</label>
        <input id="password" name="password" type="password">
        <button>sign in</button>
    </form>
</div>
<div>sign up <a href="signup">here</a>!</div>
{% endblock %}